<div class="container">
    <div class="row">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <div class="panel panel-success" *ngFor="let item of teamMembers | async ">
                    <div class="panel-heading">Nom : {{ item.nom }}</div>
                    <div class="panel-heading">Prénom : {{ item.prenom }} </div>
                    <div class="panel-heading">Adresse : {{ item.adresse }}</div>
                    <div class="panel-heading">Code postal : {{ item.cp }}</div>
                    <div class="panel-heading">Ville : {{ item.ville }}</div>
                    <div class="panel-heading">Pays : {{ item.pays }}</div>
                    <div class="panel-heading">Téléphone : {{ item.tel }}</div>
                    <div class="panel-heading">Mail : {{ item.mail }}</div>
                    <div class="panel-heading">Fonction : {{ item.fonction }}</div>
                </div>
            </div>
        </div>
    </div>
</div>