<!-- Composant formulaire, partie HTML -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- Le formulaire sera lié en action avec un bouton submit qui enclenchera la fonction onFormSubmit en lui envoyant les informations remplies par l'utilisateur -->
                <form [formGroup]="commandeForm">
                    <div class="form-group">
                        <label>Client :</label>
                        <input type="text" formControlName="Client" id="Client" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Typologie :</label>
                        <input type="text" formControlName="Typologie" id="Typologie" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Charge :</label>
                        <input type="text" formControlName="Charge" id="Charge" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Debut Demande :</label>
                        <input type="date" formControlName="DebutDemande" id="DebutDemande" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Fin Demande :</label>
                        <input type="date" formControlName="FinDemande" id="FinDemande" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Statut :</label>
                        <input type="text" formControlName="Statut" id="Statut" class="form-control" required>
                    </div>


                    <div class="form-group">
                        <label>DateDeFaisabilite :</label>
                        <input type="text" formControlName="DateDeFaisabilite" id="DateDeFaisabilite" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <button type="button" class="btn btn-primary" (click)="onSubmit()">Créer commande</button>
                        <button type="button" class="btn btn-danger" (click)="resetForm(commandeForm)">Reset</button>
                    </div>
                </form>
                <div *ngIf="novalid">{{ errorMessage }}</div>
        </div>
    </div>
</div>