<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button [routerLink]="['/commande-new']" class="btn btn-primary">Créer une nouvelle commande</button>
    </div>
  </div>  
  <div *ngIf="isEmpty" class="alert alert-secondary" role="alert">Pas de commandes disponibles pour le moment.</div>
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex align-items-stretch" *ngFor="let c of commandes | async; index as i">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Commande {{c.n}}</h4>
          </div>
          <div class="panel-body">
            <p class="card-text" style="font-weight: bold;">Client : {{c.client}}</p>
            <p class="card-text" style="font-weight: bold;">Charge : {{c.charge}}</p>
            <p class="card-text" style="font-weight: bold;">Statut : {{c.statut}}</p>
          </div>
          <div class="panel-footer">
            <button [routerLink]="['/commande-view', c.id]" class="btn btn-secondary">Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>