/*li {
    margin: 0%;
    margin-left: 10%;
    margin-right: 5%;
    
}
ul{
    width : 100%;
    margin-bottom: 1%;
    margin-top: 1%;
}

div{
    margin :0%;
    padding: 0%;
   
   /* width:100%;
    background-color: beige;
}
.selected {
    color: lightcyan;
   /* background-color: rgb(240, 240, 109);
}

.notselected{
    color : white;
   /* background-color: beige;
}/*
header{
    height: 10%;
}*/
nav{
    margin-bottom: 0px;
}