
<nav class="navbar navbar-inverse">
    <div class="container">
        <a [routerLink]="['']" class="navbar-brand">My Little ERP</a>
        <ul class="nav navbar-nav mr-auto ml-auto mb-0 mt-0">
            <!--<li [routerLink]="['']" routerLinkActive="router-link-active" id="li1" (click)="onClickMenu('li1')" class="nav-item">
            <a class="nav-link"> Accueil</a>
            </li>-->
            <li [routerLink]="['devis-list']" routerLinkActive="router-link-active" id="li2" (click)="onClickMenu('li2')" class="nav-item active">
                <a class="nav-link waves-dark"> Devis</a>
            </li>
            <li [routerLink]="['commande-list']" routerLinkActive="router-link-active" id="li3" (click)="onClickMenu('li3')" class="nav-item active">
                <a class="nav-link waves-dark"> Commandes</a>
            </li>
            <li [routerLink]="['equipe']" routerLinkActive="router-link-active" id="li4"  (click)="onClickMenu('li4')" class="nav-item active">
                <a class="nav-link waves-dark"> Equipe</a>
            </li>
            <li [routerLink]="['signin']" routerLinkActive="router-link-active" id="li5"  (click)="onClickMenu('li5')" class="nav-item active">
                <a class="nav-link waves-dark"> Connexion</a>
            </li>
        </ul>
    </div>
</nav>
