<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<header>
<div>
    <ul>
    <li [routerLink]="['']" routerLinkActive="router-link-active" id="li1" (click)="onClickMenu('li1')" class="{{isSelected1 ? 'selected' : 'notselected' }}">
        Accueil
    </li>
    <li [routerLink]="['devis-list']" routerLinkActive="router-link-active" id="li2" (click)="onClickMenu('li2')" class="{{isSelected2 ? 'selected' : 'notselected' }}">
        Devis
    </li>
    <li [routerLink]="['commande-list']" routerLinkActive="router-link-active" id="li3" (click)="onClickMenu('li3')" class="{{isSelected3 ? 'selected' : 'notselected' }}">
        Commande
    </li>
    <li [routerLink]="['equipe']" routerLinkActive="router-link-active" id="li4"  (click)="onClickMenu('li4')" class="{{isSelected4 ? 'selected' : 'notselected' }}">
        Equipe
    </li>
    <li [routerLink]="['signin']" routerLinkActive="router-link-active" id="li5"  (click)="onClickMenu('li5')" class="{{isSelected5 ? 'selected' : 'notselected' }}">
        Connexion
    </li>
    </ul>
</div>
</header>