<header></header>
<div>
    <ul>
    <li id="li1" (click)="onClickMenu('li1')" class="{{isSelected1 ? 'selected' : 'notselected' }}">
        Accueil
    </li>
    <li id="li2" (click)="onClickMenu('li2')" class="{{isSelected2 ? 'selected' : 'notselected' }}">
        Devis
    </li>
    <li id="li3" (click)="onClickMenu('li3')" class="{{isSelected3 ? 'selected' : 'notselected' }}">
        Commande
    </li>
    <li id="li4"  (click)="onClickMenu('li4')" class="{{isSelected4 ? 'selected' : 'notselected' }}">
        Equipe
    </li>
    <li id="li5"  (click)="onClickMenu('li5')" class="{{isSelected5 ? 'selected' : 'notselected' }}">
        Connexion
    </li>
    </ul>
    <!-- [routerLink]="['']" routerLinkActive="router-link-active" -->
</div>
