<!-- Composant formulaire, premier TP d'angular, partie HTML -->
<div class="jumbotron">
    <label>{{currentMode}} commande</label>
    <div class="container" *ngIf="currentMode === 'Nouvelle'">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!-- Le formulaire sera lié en action avec un bouton submit qui enclenchera la fonction onFormSubmit en lui envoyant les informations remplies par l'utilisateur -->
                <form [formGroup]="commandeForm">
                    <div class="form-group">
                        <label>Client :</label>
                        <input type="text" formControlName="Client" id="Client" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Typologie :</label>
                        <input type="text" formControlName="Typologie" id="Typologie" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Charge :</label>
                        <input type="text" formControlName="Charge" id="Charge" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Début demandé :</label>
                        <input type="date" formControlName="DebutDemande" id="DebutDemande" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Fin demandée :</label>
                        <input type="date" formControlName="FinDemande" id="FinDemande" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Statut :</label>
                        <input type="text" formControlName="Statut" id="Statut" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Date de faisabilite :</label>
                        <input type="text" formControlName="DateDeFaisabilite" id="DateDeFaisabilite" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <br>
                        <button type="button" class="btn btn-primary" (click)="onSubmit()">Créer devis</button>
                        <button type="button" class="btn btn-danger" (click)="resetForm(devisForm)">Reset</button>
                    </div>
                </form>
                <div *ngIf="novalid">{{ errorMessage }}</div>
        </div>
    </div>    
</div>
<!-- Consultation d'une commande -->
<div *ngIf="currentMode === 'Consultation' && currentCommande | async as d">
    <label>Commande n° {{idCommande}}</label>
    <form [formGroup]="devisForm">
        <div class="form-group">
            <label>Client :</label>
            <input type="text" formControlName="Client" placeholder="{{date.Client}}">
        </div>
        <div class="form-group">
            <label>Typologie :</label>
            <input type="text" formControlName="Typologie" placeholder="{{d.Typologie}}">
        </div>
        <div class="form-group">
            <label>Charge :</label>
            <input type="text"  formControlName="Charge" placeholder="{{d.Charge}}">
        </div>
        <div class="form-group">
            <label>Début demandé :</label>
            <input type="text"  formControlName="DebutDemande" placeholder="{{d.DebutDemande}}">
        </div>
        <div class="form-group">
            <label>Fin demandée :</label>
            <input type="text"   formControlName="FinDemande" placeholder="{{d.FinDemande}}">
        </div>
        <div class="form-group">
            <label>Statut :</label>
            <input type="text"   formControlName="Statut" placeholder="{{d.Statut}}">
        </div>

        <div class="form-group">
            <label>Date de faisabilité :</label>
            <input type="text"   formControlName="DateDeFaisabilite" placeholder="{{d.DateDeFaisabilite}}">
        </div>
        <button type="button" class="btn btn-primary" (click)="updateDevis(d.Id)">Mettre à jour</button>            
        <div *ngIf="novalid">{{ errorMessage }}</div>
    </form>    
</div>